<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches MAVROS, PX4 SITL, Gazebo environment, and spawns vehicle -->

	<!-- vehicle model and world -->
	<arg name="est" default="ekf2"/>
	<arg name="vehicle" default="iris"/>
	<arg name="world_name" default="$(find mavlink_sitl_gazebo)/worlds/empty.world"/>

	<!-- gazebo configs -->
	<arg name="gui" default="true"/>
	<arg name="debug" default="false"/>
	<arg name="verbose" default="false"/>
	<arg name="paused" default="false"/>
	<arg name="respawn_gazebo" default="false"/>

	<!-- MAVROS configs -->
	<arg name="fcu_url" default="udp://:14540@localhost:14557"/>
	<arg name="respawn_mavros" default="false"/>
	<arg name="mavlink_udp_port" default="14560"/>
	<arg name="mavlink_tcp_port" default="4560"/>

	<!-- PX4 configs -->
	<arg name="interactive" default="true"/>
	<env name="PX4_SIM_MODEL" value="$(arg vehicle)" />
	<env name="PX4_ESTIMATOR" value="$(arg est)" />

	<!-- PX4 SITL -->
	<arg unless="$(arg interactive)" name="px4_command_arg1" value="-d"/>
	<arg if="$(arg interactive)" name="px4_command_arg1" value=""/>
	<node name="sitl" pkg="px4" type="px4" output="screen" args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS $(arg px4_command_arg1)" required="true"/>

	<!-- Gazebo sim -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="gui" value="$(arg gui)"/>
		<arg name="world_name" value="$(arg world_name)"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="verbose" value="$(arg verbose)"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
	</include>

	<!-- MAVROS -->
	<include file="$(find mavros)/launch/px4.launch">
		<!-- GCS link is provided by SITL -->
		<arg name="gcs_url" value=""/>
		<arg name="fcu_url" value="$(arg fcu_url)"/>
		<arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
	</include>
</launch>