<library path="src">
	<class name="FollowRoad" type="rqt_follow_road.follow_road.FollowRoad" base_class_type="rqt_gui_py::Plugin">
		<description>
			The GUI plugin for the follow road exercise
		</description>
		<qtgui>
			<!-- optional grouping...
			<group>
				<label>Group</label>
			</group>
			<group>
				<label>Subgroup</label>
			</group>
			-->
			<label>Follow Road Plugin</label>
			<icon type="theme">system-help</icon>
			<statustip>Following Roads since 2019</statustip>
		</qtgui>
	</class>
</library>