<?xml version="1.0"?>
<model>
    <name>target_beacon_pd</name>
    <version>1.0</version>
    <sdf version="1.3">model.sdf</sdf>
    <author>
        <name>Arka</name>
        <email></email>
    </author>
    <description>Target beacon for Package Delivery exercise in RoboticsAcademy</description>
</model>