<?xml version="1.0"?>
<launch>
    <!--    Drone model param   -->
    <arg name="drone_model" default="tello"/>
    <param name="drone_model" type="str" value="$(arg drone_model)" />

    <arg name="perspective" default="$(find rqt_drone_teleop)/perspectives/drone_teleop_vel_cam.perspective"/>
    <arg name="height" value="1"/>
    <arg name="precision" value="0.5"/>

	<node name="tello_driver_node" pkg="tello_driver" type="tello_driver_node.py" output="screen"/>
    <node pkg="drone_wrapper" type="drone_wrapper_class.py" name="drone_wrapper_node" output="screen"/>
    <include file="$(find rqt_drone_teleop)/launch/rqt_drone_teleop.launch">
        <arg name="perspective" value="$(arg perspective)"/>
        <arg name="height" value="$(arg height)"/>
        <arg name="precision" value="$(arg precision)"/>
    </include>
</launch>
