<library path="src">
	<class name="DroneTeleop" type="rqt_drone_teleop.drone_teleop.DroneTeleop" base_class_type="rqt_gui_py::Plugin">
		<description>
			A common drone teleop interface for all drone exercises in the JdeRobot Robotics Academy
		</description>
		<qtgui>
			<!-- optional grouping...
			<group>
				<label>Group</label>
			</group>
			<group>
				<label>Subgroup</label>
			</group>
			-->
			<label>Drone Teleop Plugin</label>
			<icon type="theme">system-help</icon>
			<statustip>Controlling Drones since 2019</statustip>
		</qtgui>
	</class>
</library>