<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL in the follow_road environment launch script -->
    <!-- launches MAVROS, PX4 SITL, Gazebo environment, and spawns vehicle -->
    <!-- This file includes the base mavros_px4_sitl.launch so as to allow for reusability -->

    <arg name="world_name"/>
    <arg name="solution_file_name"/>

    <include file="$(find drone_wrapper)/launch/mavros_px4_sitl.launch">
        <arg name="world_name" value="$(arg world_name)"/>
    </include>
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" respawn="false" output="screen" args="--perspective-file $(find rqt_drone_teleop)/perspectives/DroneTeleop.perspective"/>
    <node name="my_solution" pkg="drone_wrapper" type="play_python_code.sh" output="screen" args="$(arg solution_file_name)"/>
</launch>