<?xml version="1.0"?>
<launch>
    <arg name="perspective" default="$(find rqt_drone_teleop)/perspectives/drone_teleop_vel_cam.perspective"/>
    <arg name="height" default="3"/>
    <arg name="precision" default="0.05"/>

    <param name="rqt_drone_teleop/height" type="double" value="$(arg height)"/>
    <param name="rqt_drone_teleop/precision" type="double" value="$(arg precision)"/>
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" respawn="false" output="screen" args="--perspective-file $(arg perspective)"/>
</launch>
